{% extends 'base.html'%}
{% load static %}
{% block title%}
{{post.title}}
{% endblock %}
{% block content %}
<h1> {{post.title}}</h1>
<small>BY:{{post.author}}
    <!-- 這邊的post是由index的 for post in object_list  所連結過來的各個特定post -->
    <!-- 此文章為登入者的才能更改 -->
    {% if user.is_authenticated and user == post.author %}
    <a href="{% url 'edit-article' post.pk %}">(Edit)</a>
    <a href="{% url 'delete-article' post.pk %}">(Delete)</a>
    {% endif %}

    <form action="{% url 'like-article' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if liked %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <button type="submit" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <button type="submit" class="btn btn-primary btn-sm">Like</button>
        {% endif %}
        {% else %}
        <small><a href="{% url 'login' %}">登入</a>來按讚</small>
        {% endif %}
        - {{total_likes}} Likes
    </form>
</small>
<hr>
<br>
{% if post.images %}
<img src="{{ post.images.url }}">
{% endif %}
{{post.content|safe}}
<br><br>

{% if post.author.profilecard %}
<hr>
<small>創作者介紹</small>
<div class="card mb-3" style="max-width: 600px;">
    <div class="row g-0">
        <!-- 注意這邊只是要判斷有沒,不用後面.url -->
        <div class="col-md-4">
            {% if post.author.profilecard.profile_pic %}
            <img src="{{ post.author.profilecard.profile_pic.url }}" class="img-fluid rounded-start">
            {% else %}
            <img src="{% static 'post_comment/images/defaut_usericon.png' %}" class="img-fluid rounded-start">
            {% endif %}
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{post.author}}</h5>
                <small>
                    <p class="card-text text-muted">

                        <a href="{% url 'show-profile' post.author.profilecard.id %}">個人檔案</a> |

                        {% if post.author.profilecard.fb_url %}
                        <a href="{{ post.author.profilecard.fb_url }}">Facebook</a> |
                        {% endif %}
                        {% if post.author.profilecard.ig_url %}
                        <a href="{{ post.author.profilecard.ig_url }}">Instagram</a> |
                        {% endif %}
                        {% if post.author.profilecard.twitter_url %}
                        <a href="{{ post.author.profilecard.twitter_url }}">X</a>
                        {% endif %}
                </small>
                <p class="card-text text-muted">{{post.author.profilecard.selfinfo}}</p>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endif %}
{% endblock %}