{% extends 'base.html'%}
{% block title%}
歡迎來到BBBLOGG!!
{% endblock %}
{% block content %}


<!-- 模板上下文變量預設object_list -->
<h1>最新文章....</h1>
<hr>
<br>
<div class="list-group">
    {% for post in object_list %}
    <a href="{% url 'article-detail' post.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small class="text-body-secondary">發布時間:{{post.date_posted}} </small>
        </div>
        <p class="mb-1">{{ post.content|truncatechars_html:50|safe }}<small><small>...(更多)</small></small></p>
        <small class="text-body-secondary">作者:{{post.author}} 分類:{{post.category}}</small>
    </a>
    {% endfor %}

</div>
<br><br>
{% endblock %}