{% extends 'base.html'%}
{% block title%}
更新文章
{% endblock %}
{% block content %}

<!-- 必須確認此文章的登入者才能更改 -->
{% if user.is_authenticated and user == post.author %}
<h1>更新文章</h1>
<br><br>
<div class="form-group">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}

        <button>更新</button>
    </form>
</div>

{% else %}
<script>
    var originalUrl = 'user/login';
    var cleanUrl = originalUrl.replace(/^\//, '');

    // 三秒後導向網頁
    setTimeout(function () {
        window.location.href = '/' + cleanUrl;
    }, 3000);
</script>
請重新登入,網頁將重新導向...
{% endif %}
{% endblock %}