{% extends 'base.html'%}
{% block title%}
{{user.username}}的部落格
{% endblock %}
{% block content %}



<h1>{{user.username}}的文章列表</h1>

<!-- 迴圈取的所有文章,views已有用filter篩選 -->
{% for post in user_posts %}
<li>
    <a href="{% url 'article-detail' post.pk %}">{{post.title}}</a>
    {% if user.is_authenticated %}
    <small>
        -
        <a href="{% url 'edit-article' post.pk %}">(Edit)</a>
        <a href="{% url 'delete-article' post.pk %}">(Delete)</a>

        {% endif %}
        - <a href="{% url 'category-article' post.category %}">{{post.category}}</a>
        - 作者:{{post.author}}
        - 發布時間:{{post.date_posted}}<br>

        {{ post.content|slice:':50'|safe}}......<small><a href="{% url 'article-detail' post.pk %}">(更多)</a></small>
        <br><br>
    </small>

</li>

{% endfor %}
{% endblock %}