{% extends 'base.html'%}
{% block title%}
{{user.username}}的部落格
{% endblock %}
{% block content %}



<h1>{{user.username}}的文章列表</h1>
<hr>
<br>
<!-- 迴圈取的所有文章,views已有用filter篩選 -->
<div class="list-group">
    {% for post in user_posts %}
    <a href="{% url 'article-detail' post.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{post.title}}</h5>
            <small class="text-body-secondary">發布時間:{{post.date_posted}} </small>
        </div>
        <p class="mb-1">{{ post.content|truncatechars_html:50|safe }}<small><small>...(更多)</small></small></p>
        <small class="text-body-secondary">作者:{{post.author}}&emsp;分類:{{post.category}}&emsp;點閱次數:{{post.hit}}</small>
    </a>
    {% endfor %}

</div>
<br><br>
{% endblock %}