asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==3.2
django-ckeditor==6.3.2
django-js-asset==2.0.0
gunicorn==19.7.1
mysqlclient==2.1.1
packaging==23.2
Pillow==9.5.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
whitenoise==6.5.0
