{% extends 'base.html' %}
{% block title %}
登入頁面
{% endblock %}
{% block content %}
<h1>登入</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" class="form-control" name="username" id="username" placeholder="輸入帳號"><br><br>
    <input type="password" class="form-control" name="password" id="password" placeholder="輸入密碼">
    <br><br>
    <p>
        <button type="submit" name="login" value="登入" class="btn btn-success">登入</button>
        <button type="submit" name="register" value="註冊" class="btn btn-success">註冊</button>
        <button type="reset" class="btn btn-success">重置</button>
    </p>
</form>
<p style="color: red;">{{message}}</p>
{% endblock %}