{% extends 'base.html' %}
{% block title %}
註冊頁面
{% endblock %}
{% block content %}
<h1>註冊</h1>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success">註冊</button>



</form>

{% endblock %}


<!-- <form action="" method="POST">
    {% csrf_token %}
    <p>
        <label for="username">用戶名:</label>
        <input type="text" name="username" required>
    </p>
    <p>
        <label for="email">電子信箱:</label>
        <input type="email" name="email" required>
    </p>
    <p>
        <label for="password1">密碼:</label>
        <input type="password" name="password1" required>
    </p>
    <p>
        <label for="password2">再次輸入密碼:</label>
        <input type="password" name="password2" required>
    </p>
    <button type="submit">送出</button>
</form>
<p style="color: red;">{{message}}</p> -->