{% extends 'base.html'%}
{% load static %}
{% load extras %}
{% block title%}
{{user.username}}的相簿
{% endblock %}
{% block content %}



<h1>{{user.username}}的相簿</h1>
<br>
我的相簿總數：{{total_useralbum}}
{% if user.is_authenticated %}
<a href="{% url 'add-alb' %}">(新增相簿)</a>
{% endif %}
<hr>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for album in user_albums %}
    <div class="col">
        <div class="card h-100">
            {% if lengths|extras:forloop.counter0 == 0 %}<a href="{% url 'detail-alb' album.pk %}">
                <img src="{% static 'album/images/nopic.jpg' %}" class="card-img-top" alt="暫無圖片"></a>
            {% else %}
            <a href="{% url 'detail-alb' album.pk %}">
                <img src="/media/{{photos|extras:forloop.counter0}}" class="card-img-top" alt="暫無圖片"></a>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{album.a_title}} - <small>共 {{lengths|extras:forloop.counter0}} 張</small><a
                        href="{% url 'del-alb' album.pk %}">(刪除相簿)</a></h5>

                <p class="card-text"><u>擁有者:{{album.a_author}} </u></p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">建立於:{{album.a_date}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br><br>
{% endblock %}